.game-container {
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.animal-container {
  display: flex;
  gap: 50px;
}

.game-box {
  background-color: lightgray;
  background-color: lightgray;
  border: solid 5px black;
  border-radius: 10px;
  width: 120px;
  height: 120px;
  background-size: cover;
}

.animal1 {
  background-image: url("./assets/images/question-mark.png");
}

.animal2 {
  background-image: url("./assets/images/question-mark.png");
}

.rightAnswer {
  background-color: green;
}

.wrongAnswer {
  background-color: red;
}

.start-button {
  height: 50px;
  width: 50px;
  background-color: black;
  border: solid 5px white;
  border-radius: 50px;
}
