:root {
  --primary-color: #dd1a22;
  --secondary-color: #f57c1f;
  --accent-color: #e95ea2;
  --background-color: #fecd04;
  --black-color: #000000;
  --grey-color: #878c8f;
}

body {
  background-color: var(--background-color);
  position: relative;
}
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading1 {
  color: var(--primary-color);
}
.buttons-box {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.nav-button {
  background-color: var(--secondary-color);
  height: 100px;
  width: 100px;
  border: solid 5px var(--accent-color);
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
  background-size: cover;
}
.sounds {
  background-image: url("/assets/icons/sounds.png");
}
.game {
  background-image: url("/assets/icons/game.png");
}

.nav-button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.1) rotate(2deg);
  border-color: var(--primary-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nav-button a {
  color: whitesmoke;
  font-size: 1.5rem;
  text-decoration: none;
}

.back-button {
  background-color: var(--accent-color);

  height: 60px;
  width: 100px;
  position: absolute;
  top: 10px;
  font-size: medium;
  color: var(--background-color);
  border: solid 2px var(--primary-color);
  border-radius: 20px;
  transition: width 0.3s ease-in-out;
}
.back-button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.1) rotate(2deg);
  border-color: var(--primary-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.animals-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.animalButton {
  background-color: lightgray;
  border: solid 5px black;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  background-size: cover;
}

.bee {
  background-image: url("./assets/images/bee.png");
}

.bird {
  background-image: url("./assets/images/bird.png");
}

.cat {
  background-image: url("./assets/images/cat.png");
}

.chick {
  background-image: url("./assets/images/chick.png");
}

.cow {
  background-image: url("./assets/images/cow.png");
}

.dolphin {
  background-image: url("./assets/images/dolphin.png");
}

.ducky {
  background-image: url("./assets/images/ducky.png");
}

.donkey {
  background-image: url("./assets/images/donkey.png");
}

.hen {
  background-image: url("./assets/images/hen.png");
}

.hippo {
  background-image: url("./assets/images/hippo.png");
}

.horse {
  background-image: url("./assets/images/horse.png");
}

.lion {
  background-image: url("./assets/images/lion.png");
}

.monkey {
  background-image: url("./assets/images/monkey.png");
}
.owl {
  background-image: url("./assets/images/owl.png");
}
.parrot {
  background-image: url("./assets/images/parrot.png");
}
.penguin {
  background-image: url("./assets/images/penguin.png");
}

.pig {
  background-image: url("./assets/images/pig.png");
}

.shark {
  background-image: url("./assets/images/shark.png");
}

.sheep {
  background-image: url("./assets/images/sheep.png");
}

.tiger {
  background-image: url("./assets/images/tiger.png");
}

@media (max-width: 600px) {
  .animalButton {
    width: 100px;
    height: 100px;
  }
  .back-button {
    width: 70px;
    height: 30px;
  }
}
